
#npm_plugin_wrap.npm_content_container{

	#pm-error-notice{
		display:none;
		position:relative;
		font-size:20px;
		line-height:36px;
		height:36px;
		color:black;
		//transition: all 0.3s ease-in-out;
		padding:0 0 5px 10px;
		margin-bottom:10px;
		background-color:#FBF177;
		&.active{
			//color:red;
			//transition: all 0.3s ease-in-out;
		}
	}

	#controls-wrap{
		display:block;
		position:relative;
		padding: 0 0 5px 0;

		.npm-header-wrap{
			display:block;
			position:relative;

			a, a:hover, a:active, a:focus{
				outline:0;
			}

			ul.nav-tabs{
				margin-left:0;
				padding:0;
				margin-bottom:0;
				border-bottom:none;
				&>li{
					margin-bottom:-2px;

					&>a, a:hover, a:active, a:focus{
						color:#555;
					}
					&>a.tab-control{
						color:#555;

						border-left:1px solid #979797;
						border-top:1px solid #979797;
						border-right:1px solid #979797;


						background-color:#B8B8B8;
						&:focus{

						}
					}
					&.active{

						a.tab-control{


							background-color:#D8D8D8;
						}
					}
				}
			}
			.tab-content{

				.tab-pane{
					padding:10px 0 10px 15px;
					border:1px solid #979797;
					background-color:#D8D8D8;
					width:530px;
					text-align:left;
					form.form-inline{
						display:inline-block;
						margin:0 auto;
					}
				}
			}
		}


		#edit-todo-title,
		input#new-todo-title{
			min-width:350px;
			margin:0;
		}
		input.form-control{
			display: block;
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
	}



	#matrix-container{
		display:block;
		position:relative;
		width:100%;
		height:auto;
		border:1px solid #979797;
		border-radius:0;
		padding:2%;

		.grid-quad{
			display:block;
			position:relative;
			width:50%;
			height:35vw;
			border:none;
			border-radius:0;
			float:left;
			padding:2px;
			background-color:#FFFFFF;
			
		}
		.quad-label{
			display:block;
			position:absolute;
			font-size:16px;
			line-height:18px;
			color:#4A4A4A;
			text-align:center;
		}
		.pm-gridlabel-do-state{
			top:3px;
			left:50%;
			transform: translateX(-50%);
		}
		.pm-gridlabel-vertical{
			top: 50%;
			left:3px;
			transform: translate(-50%, -50%);

		}		
		.done-area-label{

		}
		.pm-rotate{
			display:block;
			position:relative;
			transform: rotate(-90deg);
			transform-origin: center center;
			left:9px;
		}
		.done-area,.backlog-area{
			display:block;
			position:relative;
			padding:2px;
			border:none;
			border-radius:5px;
			background-color: #FFFFFF;
			height:20vw;
			width:100%;
			margin:0;
			float:left;
			.zone-status{
				border:1px solid #CCCCCC;
				background-color: #EEEEEE;
			}
		}

		.zone-status{
			display:block;
			position:relative;
			width:100%;
			height:100%;
			border:1px solid grey;
			border-radius:0;
			transition: all 1s;
			background-color:#D8D8D8;
		}


		.drop-active{
			.zone-status{

				border:1px dashed #C0C0C0;
				transition: all 0.1s;
			}
		}
		.drop-target{
			.zone-status{
				border:1px dashed #404040;
				transition: all 1s;	
			}
		}



		.dropzone.grid-quad{
			//padding:10px;
		}

		.drop-active{

		}

		.can-drop{

		}


	}

	.drag-todo{
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:85px;
		height:161px;
		background-color:#FFFFFF;
		border:1px solid #979797;
		border-radius:0;
		//box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		padding:5px;
		z-index:10px;
		.inner-border{
			display:block;
			position:relative;
			border-radius:0;
			padding:0;
			width:100%;
			height:100%;
			pointer-events:none;
			overflow:hidden;
		}
		.todo-title{
			display:block;
			position:relative;
			font-size:14px;
			color:#4A4A4A;
			pointer-events:none;
			overflow:hidden;
			font-family: 'Roboto', sans-serif;
		}
		.todo-content{
			display:block;
			position:relative;
			font-size:8px;
			pointer-events:none;
		}
		.status-border{
			display:none;
			position:absolute;
			border:1px solid #0000BB;
			border-radius:0;
			padding:2px;
			top:0;
			left:0;
			width:100%;
			height:100%;
			pointer-events:none;
		}
		.update-border{
			display:none;
			position:absolute;
			border:2px solid #00CC00;
			border-radius:0;
			padding:2px;
			top:0;
			left:0;
			width:100%;
			height:100%;
			pointer-events:none;
		}
		&.active{
			z-index:20;
			box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.1);
			.status-border{
				display:block;
				position:absolute;
				border:1px solid #8e8ecb;
				pointer-events:none;

			}
		} 
		.pm-todo-label{
			display:block;
			position:absolute;
			bottom:0px;
			left:0;
			width:100%;
			height:10px;
			border-radius:0;
			background-color:#FFFFFF;
			pointer-events:none;
			//z-index:5;
			border-top:1px solid #979797;
			&.unlabeled{
				background-color:#FFFFFF;
				border-top:none;
			}
			&.filter-one{
				background-color:#FF0000;
			}
			&.filter-two{
				background-color:#FFA600;
			}
			&.filter-three{
				background-color:#00E40E;
			}
		}


		.remove-todo-open{
			display:block;
			position:absolute;
			bottom:-5px;
			right:-5px;
			border:1px solid #818181;
			border-radius:50%;
			font-size:15px;
			color: #818181;
			width:20px;
			line-height:17.5px;
			height:20px;
			z-index:6;
			padding-bottom:2px;
			text-align:center;
			background-color:#FFFFFF;
			cursor:pointer;
			pointer-events: none;
			.remove{
				display:none;
				position:absolute;
				color: #818181;
				top:-10px;
				left:-40px;
				width:80px;
				height:36px;
				text-align:center;
				font-size:15px;
				line-height:30px;
				border:1px solid #818181;
				border-radius:5px;
				background-color:#FFFFFF;
				cursor:pointer;
				pointer-events: auto;
			}
			.remove.removal{
				display:block;
			}
		}
		&.active .remove-todo-open{
			pointer-events: auto;
		}
	}
	#todo-set{
		display:block;
		position:absolute;
		top:0;
		left:0;
		border:1px solid #CACDFF;
		border-radius:5px;
	}



	div.drag-todo{
		display:block
	}


	#main{
		border:1px solid #EEEEEE;
		border-radius:5px;
	}

	#post-updated{
		display:inline-block;
		position:relative;
		padding:5px 10px;
		border:1px solid #76BE90;
		border-radius:5px;
		background-color: #DAFFE7;
	}
	#new-todo{
		border:1px solid #76BE90;
		background-color: #DAFFE7;
	}
	#edit-todo-mode{
		border:1px solid #76BE90;
		background-color: #DAFFE7;
	}

	.matrix-control{
		display:inline-block;
		position:relative;
		padding:0 13.5px;
		border:1px solid #76BE90;
		border-radius:5px;
		background-color: #DAFFE7;
		height:45px;
		line-height:45px;
		float:right;
		margin-right:15px;
		&:first-of-type{
			margin-right:0;
		}
	}
	#npm-filter{
		display:inline-block;
		position:absolute;
		right:15px;
		bottom:0;
		border:1px solid black;
		padding:5px;
		border-radius:5px;
		.matrix-filter{
			display:block;
			position:relative;
			padding:2px 15px;
			border:1px solid transparent;
			cursor:pointer;

			&.active{
				border:1px solid black;
			}
			.matrix-filter-label{
				display:block;
				position:relative;
				color:#FFFFFF;
				font-size:12px;
				line-height:16px;
				text-shadow: 0 0 3px #000000;
				&:hover{
					text-shadow: 0 0 6px #000000;
				}
			}
		}
		#filter-one{
			background-color:#D0021B;
		}
		#filter-two{
			background-color:#F5A623;
		}
		#filter-three{
			background-color:#7ED321;
		}
	}
	#date-filter{
		display:inline-block;
		position:absolute;
		right:108px;
		bottom:0;
		border:1px solid black;
		padding:5px;
		border-radius:5px;
		.matrix-date-filter{
			display:block;
			position:relative;
			padding:0;
			border:1px solid transparent;
			cursor:pointer;

			&.active{
				border:1px solid black;
			}
			.matrix-date-label{
				display:block;
				position:relative;
				color:#FFFFFF;
				font-size:12px;
				line-height:15.6px;
				height:15.6px;
				padding:0 3px;
				text-align:center;
				text-shadow: 0 0 3px #000000;
				&:hover{
					text-shadow: 0 0 6px #000000;
				}
			}
		}
		#filter-label-recent{
			background-color:#01DDFB;
		}
		#filter-label-short{
			background-color:#07A3DB;
		}
		#filter-label-medium{
			background-color:#0578A7;
		}
		#filter-label-long{
			background-color:#01415F;
		}
	}
	#main *{
		//outline:1px solid green;
	}
	.npm-footer-note{
		display:block;
		position:relative;
		float:right;
		font-size:12px;
		color:#4A4A4A;
		margin-top:15px;
	}
}






