#npm_plugin_wrap.npm_content_container #pm-error-notice {
  display: none;
  position: relative;
  font-size: 20px;
  line-height: 36px;
  height: 36px;
  color: black;
  padding: 0 0 5px 10px;
  margin-bottom: 10px;
  background-color: #FBF177; }

#npm_plugin_wrap.npm_content_container #controls-wrap {
  display: block;
  position: relative;
  padding: 0 0 5px 0; }
  #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap {
    display: block;
    position: relative; }
    #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap a, #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap a:hover, #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap a:active, #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap a:focus {
      outline: 0; }
    #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap ul.nav-tabs {
      margin-left: 0;
      padding: 0;
      margin-bottom: 0;
      border-bottom: none; }
      #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap ul.nav-tabs > li {
        margin-bottom: -2px; }
        #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap ul.nav-tabs > li > a, #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap ul.nav-tabs > li a:hover, #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap ul.nav-tabs > li a:active, #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap ul.nav-tabs > li a:focus {
          color: #555; }
        #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap ul.nav-tabs > li > a.tab-control {
          color: #555;
          border-left: 1px solid #979797;
          border-top: 1px solid #979797;
          border-right: 1px solid #979797;
          background-color: #B8B8B8; }
        #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap ul.nav-tabs > li.active a.tab-control {
          background-color: #D8D8D8; }
    #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap .tab-content .tab-pane {
      padding: 10px 0 10px 15px;
      border: 1px solid #979797;
      background-color: #D8D8D8;
      width: 530px;
      text-align: left; }
      #npm_plugin_wrap.npm_content_container #controls-wrap .npm-header-wrap .tab-content .tab-pane form.form-inline {
        display: inline-block;
        margin: 0 auto; }
  #npm_plugin_wrap.npm_content_container #controls-wrap #edit-todo-title,
  #npm_plugin_wrap.npm_content_container #controls-wrap input#new-todo-title {
    min-width: 350px;
    margin: 0; }
  #npm_plugin_wrap.npm_content_container #controls-wrap input.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

#npm_plugin_wrap.npm_content_container #matrix-container {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #979797;
  border-radius: 0;
  padding: 2%; }
  #npm_plugin_wrap.npm_content_container #matrix-container .grid-quad {
    display: block;
    position: relative;
    width: 50%;
    height: 35vw;
    border: none;
    border-radius: 0;
    float: left;
    padding: 2px;
    background-color: #FFFFFF; }
  #npm_plugin_wrap.npm_content_container #matrix-container .quad-label {
    display: block;
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    color: #4A4A4A;
    text-align: center; }
  #npm_plugin_wrap.npm_content_container #matrix-container .pm-gridlabel-do-state {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  #npm_plugin_wrap.npm_content_container #matrix-container .pm-gridlabel-vertical {
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  #npm_plugin_wrap.npm_content_container #matrix-container .pm-rotate {
    display: block;
    position: relative;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    left: 9px; }
  #npm_plugin_wrap.npm_content_container #matrix-container .done-area, #npm_plugin_wrap.npm_content_container #matrix-container .backlog-area {
    display: block;
    position: relative;
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 20vw;
    width: 100%;
    margin: 0;
    float: left; }
    #npm_plugin_wrap.npm_content_container #matrix-container .done-area .zone-status, #npm_plugin_wrap.npm_content_container #matrix-container .backlog-area .zone-status {
      border: 1px solid #CCCCCC;
      background-color: #EEEEEE; }
  #npm_plugin_wrap.npm_content_container #matrix-container .zone-status {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 0;
    transition: all 1s;
    background-color: #D8D8D8; }
  #npm_plugin_wrap.npm_content_container #matrix-container .drop-active .zone-status {
    border: 5px dashed #C0C0C0;
    transition: all 0.1s; }
  #npm_plugin_wrap.npm_content_container #matrix-container .drop-target .zone-status {
    border: 5px dashed #404040;
    transition: all 1s; }

#npm_plugin_wrap.npm_content_container .drag-todo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 161px;
  background-color: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 0;
  padding: 5px;
  z-index: 10px; }
  #npm_plugin_wrap.npm_content_container .drag-todo .inner-border {
    display: block;
    position: relative;
    border-radius: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden; }
  #npm_plugin_wrap.npm_content_container .drag-todo .todo-title {
    display: block;
    position: relative;
    font-size: 14px;
    color: #4A4A4A;
    pointer-events: none;
    overflow: hidden;
    font-family: 'Roboto', sans-serif; }
  #npm_plugin_wrap.npm_content_container .drag-todo .todo-content {
    display: block;
    position: relative;
    font-size: 8px;
    pointer-events: none; }
  #npm_plugin_wrap.npm_content_container .drag-todo .status-border {
    display: none;
    position: absolute;
    border: 1px solid #0000BB;
    border-radius: 0;
    padding: 2px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  #npm_plugin_wrap.npm_content_container .drag-todo .update-border {
    display: none;
    position: absolute;
    border: 2px solid #00CC00;
    border-radius: 0;
    padding: 2px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  #npm_plugin_wrap.npm_content_container .drag-todo.active {
    z-index: 20;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.1); }
    #npm_plugin_wrap.npm_content_container .drag-todo.active .status-border {
      display: block;
      position: absolute;
      border: 1px solid #8e8ecb;
      pointer-events: none; }
  #npm_plugin_wrap.npm_content_container .drag-todo .pm-todo-label {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 0;
    background-color: #FFFFFF;
    pointer-events: none;
    border-top: 1px solid #979797; }
    #npm_plugin_wrap.npm_content_container .drag-todo .pm-todo-label.unlabeled {
      background-color: #FFFFFF;
      border-top: none; }
    #npm_plugin_wrap.npm_content_container .drag-todo .pm-todo-label.filter-one {
      background-color: #FF0000; }
    #npm_plugin_wrap.npm_content_container .drag-todo .pm-todo-label.filter-two {
      background-color: #FFA600; }
    #npm_plugin_wrap.npm_content_container .drag-todo .pm-todo-label.filter-three {
      background-color: #00E40E; }
  #npm_plugin_wrap.npm_content_container .drag-todo .remove-todo-open {
    display: block;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border: 1px solid #818181;
    border-radius: 50%;
    font-size: 15px;
    color: #818181;
    width: 20px;
    line-height: 17.5px;
    height: 20px;
    z-index: 6;
    padding-bottom: 2px;
    text-align: center;
    background-color: #FFFFFF;
    cursor: pointer;
    pointer-events: none; }
    #npm_plugin_wrap.npm_content_container .drag-todo .remove-todo-open .remove {
      display: none;
      position: absolute;
      color: #818181;
      top: -10px;
      left: -40px;
      width: 80px;
      height: 36px;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
      border: 1px solid #818181;
      border-radius: 5px;
      background-color: #FFFFFF;
      cursor: pointer;
      pointer-events: auto; }
    #npm_plugin_wrap.npm_content_container .drag-todo .remove-todo-open .remove.removal {
      display: block; }
  #npm_plugin_wrap.npm_content_container .drag-todo.active .remove-todo-open {
    pointer-events: auto; }

#npm_plugin_wrap.npm_content_container #todo-set {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #CACDFF;
  border-radius: 5px; }

#npm_plugin_wrap.npm_content_container div.drag-todo {
  display: block; }

#npm_plugin_wrap.npm_content_container #main {
  border: 1px solid #EEEEEE;
  border-radius: 5px; }

#npm_plugin_wrap.npm_content_container #post-updated {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  border: 1px solid #76BE90;
  border-radius: 5px;
  background-color: #DAFFE7; }

#npm_plugin_wrap.npm_content_container #new-todo {
  border: 1px solid #76BE90;
  background-color: #DAFFE7; }

#npm_plugin_wrap.npm_content_container #edit-todo-mode {
  border: 1px solid #76BE90;
  background-color: #DAFFE7; }

#npm_plugin_wrap.npm_content_container .matrix-control {
  display: inline-block;
  position: relative;
  padding: 0 13.5px;
  border: 1px solid #76BE90;
  border-radius: 5px;
  background-color: #DAFFE7;
  height: 45px;
  line-height: 45px;
  float: right;
  margin-right: 15px; }
  #npm_plugin_wrap.npm_content_container .matrix-control:first-of-type {
    margin-right: 0; }

#npm_plugin_wrap.npm_content_container #npm-filter {
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px; }
  #npm_plugin_wrap.npm_content_container #npm-filter .matrix-filter {
    display: block;
    position: relative;
    padding: 2px 15px;
    border: 1px solid transparent;
    cursor: pointer; }
    #npm_plugin_wrap.npm_content_container #npm-filter .matrix-filter.active {
      border: 1px solid black; }
    #npm_plugin_wrap.npm_content_container #npm-filter .matrix-filter .matrix-filter-label {
      display: block;
      position: relative;
      color: #FFFFFF;
      font-size: 12px;
      text-shadow: 0 0 3px #000000; }
      #npm_plugin_wrap.npm_content_container #npm-filter .matrix-filter .matrix-filter-label:hover {
        text-shadow: 0 0 6px #000000; }
  #npm_plugin_wrap.npm_content_container #npm-filter #filter-one {
    background-color: #D0021B; }
  #npm_plugin_wrap.npm_content_container #npm-filter #filter-two {
    background-color: #F5A623; }
  #npm_plugin_wrap.npm_content_container #npm-filter #filter-three {
    background-color: #7ED321; }
/*# sourceMappingURL=custom.css.map */